<ion-card>
  <ion-card-header>
    <ion-card-title>Nuevo Post</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <form [formGroup]="userForm">
  <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Nombre" label-placement="floating" placeholder="Ingrese Nombre" maxlength="15" formControlName="name" required></ion-input>
        </ion-item>
        <br />
        <ion-item>
          <ion-input label="Descripción" labelPlacement="floating" placeholder="Ingrese Descripción de su Trabajo" maxlength="30" formControlName="description" required></ion-input>
        </ion-item>
      </ion-list>
  </ion-card-content>
    <div class="center">
      <ion-button (click)="onSavePost()">Agregar</ion-button>
    </div>
  </form>
  <br />
</ion-card>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Agregar Post"
  message="Debe llenar todo los datos del formulario"
  [buttons]="alertButtons"
></ion-alert>

<ion-alert
  [isOpen]="isAlertOKOpen"
  header="Agregar Post"
  message="El post fue agregado correctamente!"
  [buttons]="alertButtons"
></ion-alert>




